:root{
    --primary-color: #184059;
    --secondary-color: #0B1C26;
    --accent1-color: #63CAF2;
    --accent3-color: #AFD9AD;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    justify-content: space-between;
    align-items: center;
}
nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav li{
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 2em;
    row-gap: 15px;
    border-style: double;
    border-color: white;
}
nav li a:hover {
    color: var(--secondary-color);
    background-color: var(--accent3-color);
    padding: 0.5em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
    /* color: var(--primary-color); */
}

h1{
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent3-color);
    opacity: 0.7;
}

h2{
    color: var(--secondary-color);
}

nav, p, section{
    margin: 16px;
    padding: 8px;
    color: inherit;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}


.hero article{
    position: absolute;
    z-index: 0;
    top: 170px;
    right: 0px;
    margin: 0px;
    width: 100%;
    background-color: var(--secondary-color);

}

.hero article img{
    float: right;
    z-index: 1;
    top: 0;
    right: 0px;
    width: 200px;
}

.hero article p{
    margin: 0px;
    top: 210px;
    left: 0px;
    opacity: 0.8;
    padding: 16px;
    color: var(--accent1-color)

}

.hero h1{
    position: absolute;
    top: -170px;
    left: 0px;
}

section p{
    color: var(--primary-color)
}

.history{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    row-gap: 10px;
    background-color: var(--secondary-color);

}

.adventure{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    padding-block: 5px;    
    background-color: #63CAF2;
}

.adventure img{
    flex:1;
    width: 19%;
}

.history h2, .history p{
    display:flex;
    color: var(--accent3-color);
}

.history h2{
    padding-block: 5px;
    align-content: center;
    justify-content: center;
}

.history_inner{
    padding-block: 5px;
    display: grid;
    width: 90%;
    height: auto;
    gap: 20px;
    justify-content: space-between;
    grid-template-columns: 30% 40% 30%;
    color: var(--accent3-color);
    row-gap: 15px;
    align-items: start; 
}

.history_inner p{
    display: inherit;
    padding-block: 5px;
    width: 100%;
    align-items: start; 
    /* width: 30% */
}

.history img{
    padding-block: 10px;
    display: inherit;
    align-items: start; 
    /* width: 40%; */
    width: 100%;
    /* width: 250px; */
}

footer{
    display:flex;
    justify-content: space-between;
}



