:root{
    --primary-color: #184059;
    --secondary-color: #0B1C26;
    --accent1-color: #63CAF2;
    --accent3-color: #AFD9AD;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--accent1-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}


.hero article{
    position: absolute;
    z-index: 0;
    top: 170px;
    right: 0px;
    margin: 0px;
    width: 100%;
    background-color: var(--secondary-color);

}

.hero article img{
    float: right;
    z-index: 1;
    top: 0;
    right: 0px;
    width: 200px;
}

.hero article p{
    margin: 0px;
    top: 210px;
    left: 0px;
    opacity: 0.8;
    padding: 16px;


}

.hero h1{
    position: absolute;
    top: -170px;
    left: 0px;
}

section p{
    color: var(--primary-color)
}




h1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent3-color);
    opacity: 0.7;
}
