form{
    border: 0.5rem;
    background-color: rgb(189, 188, 188);
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin: auto;
}

h1{
    align-content: left;
}

.examplecode{
    background-color: rgb(68, 68, 68);
    color: white;
    margin-left: 2rem;
    margin-right: 35rem;
    padding-left: .25rem;
}

button{
    background-color: rgb(19, 19, 116);
    color: white;
    border-radius: .5rem;
}

label, input, textarea, select, button{
    margin: 0.5rem;
}