:root{
    --pref-width: 400;
    --text-color: white;
}

aside{
    width: var(--pref-width);
    margin: 10px;
    border: 5px;
    padding: 3px;
    background-color: #abe ;
    color: var(--text-color);
}

aside img{
    width: 200px;
    height: auto;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img{
    max-width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    max-width: var(--pref-width);
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

