*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pref-width: 400;
    --text-color: white;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

nav{
    display:flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid{
    display: grid;
    align-items: center;
}

aside{
    width: var(--pref-width);
    text-align: center;
}

aside h2{
    position: relative;
    top:30px;
    left:-50px;
    color: white;
}

aside img{
    width: 200px;
    height: auto;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
    border-bottom: double;
}

main img{
    max-width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    grid-column: 1/2;
    position: relative;
    grid-row: 1/2;
}

main img{
    float: right;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000
}