aside{
    width: 400px;
    margin: 10px;
    border: 5px;
    padding: 3px;
    background-color: #abe ;
    color: white;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    width: 400px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

