body{
    font-family: Arial, san-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer{
    text-align: center;
    padding: 10 0;
    font-size: 1.5rem;
    background-color: gray;
    color: white;
}

main{
    width: 400px;
    margin: 0 auto;

}

h1{
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #333;
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0/10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
    text-align: left;
}
section p{
    margin: 10px;
}

ul{
    margin-left: 10px 20px;
}

footer{ 
    font-size: .9rem;
}